# Konfigurasi Environment
APP_NAME="SubMeet Topic Classification Service"
PORT= 8001

# Sesuaikan dengan path model
MODEL_DIR="infrastructure/model_files"
DEFAULT_BASE_MODEL="model_issat2026"

# Hyperparameter Model
# Pastikan nilai hyperparameter ini sesuai dengan yang digunakan saat training model
ALPHA= 9
MAX_SEQ_LEN= 350
MAX_VOCAB= 20000

# Integrasi Laravel
# LARAVEL_URL=