# Konfigurasi Environment
APP_NAME="SubMeet Topic Classification Service"
PORT= 8001

# Sesuaikan dengan path model
CNN_MODEL_PATH= #"infrastructure/model_files/bestmodel_glove_OA1.keras"
SIGMAS_PATH= #"infrastructure/model_files/sigmas_1.json"
VOCAB_PATH= #"infrastructure/model_files/word_to_idx_1.json"

# Hyperparameter Model
# Pastikan nilai hyperparameter ini sesuai dengan yang digunakan saat training model
ALPHA= # 9
MAX_SEQ_LEN= # 350
MAX_VOCAB= # 20000

# Integrasi Laravel
# LARAVEL_URL=