APP_NAME=SubMeet Classifier Service
PORT=8001

# Model inference assets
CNN_MODEL_PATH=infrastructure/model_files/bestmodel_glove_OA9.keras
SIGMAS_PATH=infrastructure/model_files/sigmas_9.json
VOCAB_PATH=infrastructure/model_files/word_to_idx_9.json